{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TUPC: Update Subject</title>

    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/admin.css">

    <!--FONTS-->
    <link rel="stylesheet" href="../../static/css/fonts.css">

    <!--ICONS-->
    <link rel="icon" href="../../static/images/tuplogo.png">
</head>

<body>
    <nav class="navbar navbar-expand-lg" id="tupcnav">
        <img src="../../static/images/tuplogo.png" width="50" height="50" alt="tuplogo">
        <a class="navbar-brand" href="{%url 'Adding_App:head'%}" id="atech">TECHNOLOGICAL UNIVERSITY <br> OF THE PHILIPPINES</a>

    </nav>
    <section>
        <div class="welcome">WELCOME, DEPARTMENT HEAD!</div>
        <div class="subject">
            <p>SUBJECT OF BACHELOR OF ENGINEERING TECHNOLOGY Major in COMPUTER ENGINEERING TECHNOLOGY </p>
        </div>
        <form method="post" onsubmit="msg()" action="">
            {% csrf_token %}
            <legend>Update Subject</legend>

            <div class="form-row" id="FORMFORM">
                <div class="col-md-4 mb-3">
                    <label for="sub_code">Subject Code</label>
                    <input type="text" class="form-control" name="sub_code" id="sub_code" value="{{data.sub_code}}" required>

                </div>
                <div class="col-md-4 mb-3">
                    <label for="sub_name">Subject Name</label>
                    <input type="text" class="form-control" name="sub_name" id="sub_name" value="{{data.sub_name}}" required>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="year">Year</label>
                    <select class="custom-select" name="year" id="year" required>
                  <option value="{{data.year}}">{{data.year}}</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="semester">Semester</label>
                    <select class="custom-select" name="semester" id="semester" required>
                  <option value="{{data.semester}}">{{data.semester}}</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                </select>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="offer_stats">Offer Status</label>
                    <select class="custom-select" name="offer_stats" id="offer_stats" value="{{data.offer_stats}}" required>
                  <option value="{{data.offer_stats}}" >{{data.offer_stats}}</option>
                  <option value="Offer">Offer</option>
                  <option value="Not Offer">Not Offer</option>
                </select>
                </div>
            </div>
            <div class="button1">
                <button id="logoutbutton">Update</button>
                <a class="nav-link" href="{%url 'Adding_App:head'%}" id="logoutbutton">Cancel</a>
            </div>
        </form>
</body>

</html>