{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TUPC Administration: All Subjects</title>


    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/admin.css">

    <!--FONTS-->
    <link rel="stylesheet" href="../../static/css/fonts.css">

    <!--ICONS-->
    <link rel="icon" href="../../static/images/tuplogo.png">
</head>

<body id="ajax_func">

    <nav class="navbar navbar-expand-lg" id="tupcnav">
        <img src="../../static/images/tuplogo.png" width="50" height="50" alt="tuplogo">
        <a class="navbar-brand" href="{%url 'Adding_App:head'%}" id="atech">TECHNOLOGICAL UNIVERSITY <br> OF THE PHILIPPINES</a>

        <nav class="navbar">
            <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
        </nav>


        <div class="collapse navbar-collapse" id="navbarToggleExternalContent">

            <form class="d-flex">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{%url 'Adding_App:head'%}" id="allsubjects">All Subjects <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'Adding_App:requestapproval'%}" id="request">Request Approval</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'Adding_App:logout'%}" id="logoutbutton">Logout</a>
                    </li>
                </ul>


            </form>
        </div>
    </nav>
    <section>
        <div class="welcome">WELCOME, DEPARTMENT HEAD!</div>
        <div class="subject">
            <p>SUBJECT OF BACHELOR OF ENGINEERING TECHNOLOGY Major in COMPUTER ENGINEERING TECHNOLOGY </p>
            <a class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="color:black; background-color: white; border: 1px solid black;">+ add subject</a>

        </div>

        <div class="main">
            <!--HTML code to display data in tabular format-->
            <table>
                <legend>ALL YEAR - ALL SEMESTER</legend>
                <thead>
                    <th>SUBJECT CODE</th>
                    <th>SUBJECT NAME</th>
                    <th>YEAR</th>
                    <th>SEMESTER</th>
                    <th>OFFERED STATUS</th>
                    <th>ACTION</th>
                </thead>

                <tbody id="allsubtable">
                    {% for data in data %}
                    <tr>
                        <td>{{data.sub_code}}</td>
                        <td>{{data.sub_name}}</td>
                        <td>{{data.year}}</td>
                        <td>{{data.semester}}</td>
                        <td>{{data.offer_stats}}</td>
                        <td>
                            <a href="/edit/{{data.id}}">Edit</a>
                            <a href="/delete/{{data.id}}">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>


        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">ADD SUBJECTS</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
                    </div>
                    <div class="modal-body">
                        <form onsubmit="msg()" action="/addAction" method="post">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="sub_code">Subject Code</label>
                                    <input type="text" class="form-control" name="sub_code" id="sub_code" required>

                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="sub_name">Subject Name</label>
                                    <input type="text" class="form-control" name="sub_name" id="sub_name" required>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="year">Year</label>
                                    <select class="custom-select" name="year" id="year" required>
                                      <option selected disabled value="">Choose...</option>
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                      <option value="4">4</option>
                                    </select>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="semester">Semester</label>
                                    <select class="custom-select" name="semester" id="semester" required>
                                      <option selected disabled value="">Choose...</option>
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                    </select>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="offer_stats">Offer Status</label>
                                    <select class="custom-select" name="offer_stats" id="offer_stats" value="{{data.offer_stats}}" required>
                                      <option selected disabled value="">Choose...</option>
                                      <option value="Offer">Offer</option>
                                      <option value="Not Offer">Not Offer</option>
                                    </select>
                                </div>
                            </div>
                            <div class="button1">
                                <input class="btn btn-primary" type="submit" value="+ add subject" name="addAction">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>





    </section>


    <!--JAVASCRIPT-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>




</body>

</html>